.contact-div {
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
}

.contact-div a {
    padding: 0 7px;
}

.contact-div p {
    margin: 0;
}

.contact-icon {
    color: black;
    transition: color 0.3s ease;
}


/* 🌚 Dark Mode */
body.dark-mode .contact-icon {
    color: #EAEAEA;
}

